

@{
    ViewData["Title"] = "Boleta de calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Grupo grupo = ViewBag.grupo;
    Estudiante estudiante = ViewBag.estudiante;
    List<Materia> ListMaterias = (List<Materia>)ViewBag.materia;
    List<int> calificaciones = (List<int>)ViewBag.calificaciones;
}

<h1>Boleta de calificaciones</h1>

<hr />

<div>
    <div>
        <div>
            <form asp-action="Boleta" method="post">
                <input hidden value="@estudiante.Id" name="idEstudiante" />
                <button class="btn btn-success" type="submit">Generar PDF</button>
            </form>
        </div>
        <span>

            <strong> Nombre Alumno: </strong>
            @estudiante.Nombre @estudiante.ApellidoPaterno @estudiante.ApellidoMaterno

        </span>
        <span>
            <strong> Grupo: </strong>
            @grupo.NombreGrupo
        </span>

        
        <table class="table" style="margin-top: 1em;">
            <thead>
                <tr>
                    <th>
                        <strong>Materia</strong>
                    </th>
                    <th>
                        <strong>Calificación</strong>
                    </th>

                    <th></th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < ListMaterias.Count; i++)
                {
                    <tr>


                        <td>
                            @ListMaterias[i].Nombre
                        </td>

                        <td>
                            @calificaciones[i]
                        </td>




                    </tr>
                }

            </tbody>

        </table>

    </div>
</div>


<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
