@model IEnumerable<SistemaPrimaria.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de estudiantes</h1>

<p>
    <a asp-action="Create">Agregar un nuevo estudiante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Matricula</strong>
            </th>
            <th>
                <strong>Nombre</strong>
            </th>
            <th>
                <strong>Apellido Materno</strong>
            </th>
            <th>
                <strong>Apellido Paterno</strong>
            </th>
            <th>
                <strong>Teléfono</strong>
            </th>
            <th>
                <strong>Dirección</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
