@{
    ViewData["Title"] = "Boleta de calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Grupo grupo = ViewBag.grupo;
    List<Estudiante> ListaEstudiante = (List<Estudiante>)ViewBag.estudiantes;
    List<Materia> ListaMateria = (List<Materia>)ViewBag.materias;
    List<List<int>> calificaciones =  (List<List<int>>)ViewBag.calificaciones;

}



<h1>Reporte grupo</h1>
<hr />
<div>
    <div style="margin-bottom:1em;">
        <span>

            <strong> Grupo: </strong>
            @grupo.NombreGrupo

        </span>
    </div>
    <div>
        <table class="table" >
            <thead>
                <tr>
                    <th>
                        <strong>Estudiantes</strong>
                    </th>
                    @for (int i = 0; i < ListaMateria.Count; i++)
                    {

                    <th>
                        <strong>@ListaMateria[i].Nombre</strong>
                    </th>

                      }

                        
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < ListaEstudiante.Count; i++)
                {
                    <tr>


                        <td>
                            @ListaEstudiante[i].Nombre @ListaEstudiante[i].ApellidoPaterno @ListaEstudiante[i].ApellidoMaterno
                        </td>
                    @for (int j = 0; j < calificaciones[i].Count; j++)
                {
                        <td>
                            @calificaciones[i][j]
                        </td>
                }
                         
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}