@{
    ViewData["Title"] = "Boleta de calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Grupo grupo = ViewBag.grupo;
    List<Estudiante> ListaEstudiante = (List<Estudiante>)ViewBag.estudiantes;
    List<Materia> ListaMateria = (List<Materia>)ViewBag.materias;
    List<List<int>> calificaciones =  (List<List<int>>)ViewBag.calificaciones;
    
}



<h1>Reporte grupo</h1>
<hr />
<div>
    <div style="margin-bottom:1em; display:inline-block;">
        <p>

            <strong> Grupo: </strong>
            @grupo.NombreGrupo

        </p>
        <form asp-action="ReportePorGrupo" method="post">
            <input hidden  value="@grupo.Id" name="idGrupo" />
            <button class="btn btn-success" type="submit">Transformar a hoja de cálculo</button>
        </form>
    </div>
    <div>
        <table class="table" >
            <thead>
                <tr>
                    <th>
                        <strong>Estudiantes</strong>
                    </th>
                    @for (int i = 0; i < ListaMateria.Count; i++)
                    {

                    <th>
                        <strong>@ListaMateria[i].Nombre</strong>
                    </th>

                      }

                    <th>
                        Promedio
                    </th>  
                </tr>
            </thead>

            <tbody>
                @{ 
                    int numeroAprobados = 0;
                    int numeroReprobados = 0;
                    double promedioMasAlto = 0.0;
                    double promedioMasBajo = 0.0;
                }
                @for (int i = 0; i < ListaEstudiante.Count; i++)
                {
                    <tr>


                        <td>
                            @ListaEstudiante[i].Nombre @ListaEstudiante[i].ApellidoPaterno @ListaEstudiante[i].ApellidoMaterno
                        </td>
                        @for (int j = 0; j < calificaciones[i].Count; j++)
                        {
                            <td>
                                @calificaciones[i][j]
                            </td>
                        }
                        @{
                            double calculoPromedioAlumno = (Double)calificaciones[i].Sum() / calificaciones[i].Count;
                            if (promedioMasBajo == 0)
                            {
                                promedioMasBajo = calculoPromedioAlumno;
                                promedioMasAlto = calculoPromedioAlumno;

                            }
                            if (calculoPromedioAlumno >= 6)
                            {
                                numeroAprobados++;
                            }
                            else
                            {
                                numeroReprobados++;
                            }
                            if (calculoPromedioAlumno > promedioMasAlto)
                            {
                                promedioMasAlto = calculoPromedioAlumno;
                            }
                            if (calculoPromedioAlumno < promedioMasBajo)
                            {
                                promedioMasBajo = calculoPromedioAlumno;
                            }
                            string promedioAlumno = calculoPromedioAlumno.ToString();
                        }
                        <td>
                            <p>@promedioAlumno</p>
                        </td>
                    </tr>
                }
                    
            </tbody>

        </table>
    </div>
    <div>
        <h3>Datos del grupo:</h3>

        <p><strong>Promedio mas alto:</strong> @promedioMasAlto</p>
        <p><strong>Promedio mas bajo:</strong> @promedioMasBajo</p>
        <p><strong>Número de aprobados:</strong> @numeroAprobados</p>
        <p><strong>Número de reprobados:</strong> @numeroReprobados</p>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}